<div class="ui container">
  <div class="ui header">
    <h1>My Bios</h1>
    <%= link_to "Create New Trip", new_trip_path, class: "ui button primary" %>
  </div>
  <div class="sixteen wide mobile eight wide tablet four wide computer column">
    <div class="ui cards">
      <% @trips.each do |trip|%>
        <div class="card">
          <div class="image">
            <%= image_tag trip.image.url %>
          </div>
          <div class="content">
            <div class="header"> <%= trip.name %></div>
          </div>
          <div class="extra content">
            <div class="ui three buttons">
              <%= link_to "Show", trip, class: "ui green button" %>
              <%= link_to "Edit", edit_trip_path(trip), class: "ui yellow button"  %>
              <%= link_to "Destroy", trip, method: :delete, class: "ui red button", data: {confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
