<h1><%= @post.content %></h1>
<%= link_to 'Edit Post', edit_post_path(@post), class: "ui button" %>
<%= link_to 'Delete Post', @post, class: "ui button", method: :delete %>
<%= link_to 'Back to Posts', posts_path, class: "ui button" %>
<%= link_to 'Add Comment', new_post_comment_path(@post), class: "ui button" %>
  <% @comments.each do |comment| %>
  <hr>
  <p><%= comment.message %></p>
  <hr>
  
<% end %>


